#wrapper{
    width: 960px;
    margin: 0 auto;
}

#top{
    margin-top: 20px;
}
#logo img{
    width: 200px;
    float: left;
}

#nav ul{
    float: right;
}

#nav ul li{
    list-style: none;
    display: block;
    display: inline;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
    font-size: 1.5em;
    margin: 0 5px 0 5px;
    text-transform: uppercase;
    letter-spacing: -1px;
}

#content{
    font-family: 'Titillium Web', sans-serif;
    color: cadetblue;
    font-size: 1.2em;
    float: left;
    width: 50%;
    margin-top: 50px;
    margin-bottom: 20px;
}

#copyright{
    float: right;
    font-family: 'Titillium Web', sans-serif;
    color: cadetblue;
    clear: both;
}

#comments{
    font-family: 'Titillium Web', sans-serif;
    color: cadetblue;
    float: left;
    margin-top: 100px;
}
#controls{
    margin-top: 320px;
}
#flashContent{
    clear: both;
    overflow: hidden;
}
#player_bg{
    background-color: cadetblue;
    width: 960px;
    height: 40px;
    position: absolute;

}
#play{
    margin-top: 0;
    position: absolute;
}
#pause{
    margin-top: 0;
    position: absolute;

}
#seeker{
    margin-top: 0;
    position: relative;
    margin-left: 40px;
}
#duration{
    margin-top: -25px;
    position: absolute;
    color: white;
    margin-left: 457px;
    font-family: 'Titillium Web', sans-serif;
}
#timer{
    margin-top: -25px;
    color: white;
    position: absolute;
    margin-left: 420px;
    font-family: 'Titillium Web', sans-serif;
}
#divider{
    margin-top: -25px;
    position: absolute;
    margin-left: 450px;
    font-family: 'Titillium Web', sans-serif;
}
#mic{
    margin-top: -25px;
    position: absolute;
    margin-left: 510px;
}
#camera{
    margin-top: -28px;
    position: absolute;
    margin-left: 550px;
}
#record{
    margin-top: -27px;
    position: absolute;
    margin-left: 595px;
}
#volume{
    margin-top: -28px;
    position: absolute;
    margin-left: 660px;
}
#vol_seeker{
    margin-top: -25px;
    position: relative;
    margin-left: 730px;
}

#seeker_tab{
    margin-top: 0;
    position: absolute;
    left: 0;
    margin-left: -15px;
    z-index: 1;
}

#vol_tab{
    margin-top: -5px;
    margin-left: -20px;
    position: absolute;
    left: 0;
    
}
#box{
    height: 30px;
    width: 365px;
    position: relative;

}

a{
    text-decoration: none;
    color: cadetblue;
}
a:visited{
    color: cadetblue;
}
a:active{
    color: cornsilk;
}
a:hover{
    color: white;
}

button{
    background: transparent;
    border: transparent;
}

#select{
    margin-top: 80px;
}

select#select{
    background-image: url("/img/videoplayer/mic.png");
}

