#wrapper{
    width: 960px;
    margin: 0 auto;
}

#top{
    margin-top: 20px;
}
#logo img{
    width: 200px;
    float: left;
}

#nav ul{
    float: right;
}

#nav ul li{
    list-style: none;
    display: block;
    display: inline;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
    font-size: 1.5em;
    margin: 0 5px 0 5px;
    text-transform: uppercase;
    letter-spacing: -1px;
}

#content{
    font-family: 'Titillium Web', sans-serif;
    color: cadetblue;
    font-size: 1.2em;
    float: left;
    width: 50%;
    margin-top: 50px;
    margin-bottom: 20px;
}

#copyright{
    float: right;
    font-family: 'Titillium Web', sans-serif;
    color: cadetblue;
    clear: both;
}

#comments{
    font-family: 'Titillium Web', sans-serif;
    color: cadetblue;
    float: left;
    margin-top: 100px;
}
#controls{
    margin-top: 320px;
}
#flashContent{
    clear: both;
    overflow: hidden;
}
#player_bg{
    background-color: cadetblue;
    width: 960px;
    height: 40px;
    position: absolute;

}
#play{
    margin-top: 4px;
    position: absolute;
}
#pause{
    margin-top: 4px;
    position: absolute;
    margin-left: 5px;

}
#seeker{
    margin-top: 0;
    position: relative;
    margin-left: 40px;
}
#seeker img{
    margin-top: 5px;
}
#duration{
    margin-top: -28px;
    position: absolute;
    color: white;
    margin-left: 457px;
    font-family: 'Titillium Web', sans-serif;
}
#timer{
    margin-top: -28px;
    color: white;
    position: absolute;
    margin-left: 420px;
    font-family: 'Titillium Web', sans-serif;
}
#divider{
    margin-top: -28px;
    position: absolute;
    margin-left: 450px;
    font-family: 'Titillium Web', sans-serif;
}
#mic{
    margin-top: -30px;
    position: absolute;
    margin-left: 600px;
}
#camera{
    margin-top: -33px;
    position: absolute;
    margin-left: 555px;
}
#record{
    margin-top: -33px;
    position: absolute;
    margin-left: 515px;
}
#volume{
    margin-top: -28px;
    position: absolute;
    margin-left: 660px;
}
#vol_seeker{
    margin-top: -26px;
    position: relative;
    margin-left: 730px;
}

#seeker_tab{
    margin-top: 0;
    position: absolute;
    left: 0;
    margin-left: -15px;
    z-index: 1;
}

#vol_tab{
    margin-top: -5px;
    margin-left: -20px;
    position: absolute;
    left: 0;
    
}
#box{
    height: 30px;
    width: 365px;
    position: relative;

}

a{
    text-decoration: none;
    color: cadetblue;
}
a:visited{
    color: cadetblue;
}
a:active{
    color: cornsilk;
}
a:hover{
    color: white;
}

button{
    background: transparent;
    border: transparent;
}

#select{
    margin-top: 0;
    position: absolute;
    opacity: 0;
}
#select2{
    margin-top: 0;
    position: absolute;
    opacity: 0;
}

#messagesDiv{
    margin-top: 100px;
    color: cadetblue;
    font-family: 'Titillium Web', sans-serif;
}
#name{
    margin-top: -30px;
    color: cadetblue;
    font-size: 1.5em;
    font-family: 'Titillium Web', sans-serif;
    float: left;
    clear: right;
}

#login{
    float: left;
    margin-top: -20px;
    clear: both;

}

#logout{
    display: none;
    margin-top: 40px;
    float: left;
    margin-left: -140px;
}

#messages{
    margin-top: 20px;
}
#chat{
    color: gray;
    font-size: 1.9em;
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
    margin-top: 10px;
}

em{
    color: gray;
}